.row > div {
    margin-top: 10px;
    padding: 20px;
    /*outline: 2px solid #ccc;*/
    /*outline-offset: -10px;*/
    /*-moz-outline-radius: 10px;*/
    /*-webkit-outline-radius: 10px;*/

    /*background-color: aqua;*/
}

#item_box {
    background-color: mediumpurple;
}

#item_build {
    background-color: transparent;
}

unique {
    color:deepskyblue;
}

.draggable {
    margin-top: -72px;

    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

.item {
    width: 72px;
    height: 72px;
    /*min-height: 6.5em;*/
    /*margin: 10%;*/

    background-color: #4A4A7E;
    color: white;

    border-radius: 0.75em;
    padding: 2%;

}

.item_image {
    margin: 3px;
    width: 64px;
    /*padding: 5px;*/
}

body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}