<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Items</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/items.css" rel="stylesheet">
</head>
<body>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/interact.js/1.2.4/interact.min.js"></script>
<div class="container">
    <div class="row" id="item_bounds">
        <div class="col-md-6" id="item_build">placeholder</div>
        <div class="col-md-6" id="item_box" style="overflow-y:scroll; max-height:95vh; overflow-x:visible">
            <div class="row">
                {% for id, attrs in items.items() %}
                    {% if (loop.index  % 6 - 1) == 0 and not loop.first %}
                        </div>
                        <div class="row">
                    {% endif %}
                    <div class="col-md-2">
                        <div class="item" onclick="createDraggable(this)" id="item-{{ id }}" data-toggle="tooltip" data-html="true" title="<b>{{ attrs.name }}</b><br/>{{ attrs.description }}" data-trigger="hover" data-placement="bottom">
                            <img class="item_image" src="{{ dd_url }}/img/item/{{ id }}.png">
                        </div>
                    </div>
                {%  endfor %}
                </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="static/items.js"></script>
</body>
</html>